body {
  width: 50%;
  margin:auto;
background: url(bg.jpg) center;
font-family: Josefin+Slab;
line-height: 1.5;
color: white;
}
main{
  backgroud: black;
}
.Order-name{
  text-align: center;
}
.Logo{
  text-align: center;
}
.Headline{
  text-align: center;
}
